<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Vedabase</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.gpsl.VedaBase</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vbase</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIAppFonts</key>
	<array>
		<string>Sanskrit2003.ttf</string>
		<string>BELLCN__.TTF</string>
		<string>RMDEVA.TTF</string>
		<string>INBENR11.TTF</string>
		<string>INBENO11.TTF</string>
		<string>INBENI11.TTF</string>
		<string>INBENB11.TTF</string>
		<string>INDEVR20.TTF</string>
		<string>vuArialPlus.ttf</string>
		<string>vuArialPlusBold.ttf</string>
		<string>vuArialPlusBoldItalic.ttf</string>
		<string>vuArialPlusItalic.ttf</string>
		<string>vuTimesPlus.ttf</string>
		<string>vuTimesPlusBold.ttf</string>
		<string>vuTimesPlusBoldItalic.ttf</string>
		<string>vuTimesPlusItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchStoryboard</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
